<link rel="stylesheet" href="/css/crafts.css">

<section class="crafts" id="crafts">
    <h2 class="about-title crafts-title">Crafts</h2>
    <a href="http://rainproof.selwyn.cc/" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/rainproof.jpg" alt="Rain falling into water.">
          <figcaption class="craft-caption">
              <h3 class="craft-title">Rainproof</h3>
              <p class="craft-description">
                  Heavy rainfall happens more and more throughout the world and big cities like Amsterdam can't handle the amount of water. To motivate citizens our job was to visualize and inform.
              </p>
          </figcaption>
        </figure>
    </a>
    <a href="http://photo-sharing.selwyn.cc/" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/sharing-photos.jpg" alt="Old photographer.">
          <figcaption class="craft-caption">
              <h3 class="craft-title">Sharing Photos</h3>
              <p class="craft-description">
                  The first Node.js application I made. It allows people to share and comment on photos. Build from scratch using Express.js for routing.
              </p>
          </figcaption>
        </figure>
    </a>
    <a href="https://github.com/Siilwyn/css-declaration-sorter" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/css-declaration-sorter.jpg" alt="Rain falling into water.">
          <figcaption class="craft-caption">
              <h3 class="craft-title">CSS Declaration Sorter</h3>
              <p class="craft-description">
                  A Node.js module and PostCSS plugin to sort the CSS declarations inside each selector based on their property names.
              </p>
          </figcaption>
        </figure>
    </a>
    <a href="https://github.com/Siilwyn/mustache-prestatic" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/mustache-prestatic.jpg" alt="">
          <figcaption class="craft-caption">
              <h3 class="craft-title">&#123;&#123; mustache &#125;&#125; prestatic</h3>
              <p class="craft-description">
                  Node.js module that turns mustache files, partials and data into static HTML pages. Making mustache.js usable through a simple CLI allowing multiple files as input.
              </p>
          </figcaption>
        </figure>
    </a>
    <a href="https://dime-dine.herokuapp.com/preferences" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/dime-dine.jpg" alt="">
          <figcaption class="craft-caption">
              <h3 class="craft-title">Dime Dine</h3>
              <p class="craft-description">
                  In two weeks we came up with an idea and a small proof of concept web app that uses an API to get matching recipes.
              </p>
          </figcaption>
        </figure>
    </a>
    <!-- <a href="" target="_blank">
        <figure class="craft-container">
          <img class="craft-background" src="/assets/media/xposr.jpg" alt="Road to a city.">
          <figcaption class="craft-caption">
              <h3 class="craft-title">XPOSR</h3>
              <p class="craft-description">
                  Promotion page for a company that brings ideas and businesses together. Applying a modern and trustworthy look that fits with the target audience.
              </p>
          </figcaption>
        </figure>
    </a> -->
</section>
