<link rel="stylesheet" href="/css/hero-header.css">

<header class="hero-header">
    <img src="/assets/media/logo.svg" alt="Selwyn.cc logo">
    <div class="hero-header-introduction">
        <b>I'm Selwyn Versteeg</b>
        <h1 class="hero-header-tagline">qualitative code from sketch to solution</h1>
        <b>from The Netherlands</b>
    </div>
</header>
