<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>

    {{> ../partials/nav-header/nav-header }}

    {{> ../partials/hero-header/hero-header }}

    <main>

        {{> ../partials/about/about }}

        {{> ../partials/crafts/crafts }}

        {{> ../partials/contact/contact }}

    </main>

</body>

</html>
