<link rel="stylesheet" href="/css/nav-header.css">

<nav class="nav-header">
    <ul class="nav-header-items-container">
        <li class="nav-header-item">
            <a href="/#about">About me</a>
        </li>
        <li class="nav-header-item">
            <a href="/#contact">Contact</a>
        </li>
        <li class="nav-header-item">
            <a href="/#crafts">Crafts</a>
        </li>
        <!-- <li class="nav-header-item">
            <a href="/writings/">Writings</a>
        </li> -->
    </ul>
</nav>
